---
# üìÅ Hyun's Code collection (Pymysql) 
---

### <h3 align="right">ü•á Authored by <strong>Hyun</strong></h3>

# ‚úèÔ∏è What is **Pymysql**?

- MySQL DBÏôÄ Ïó∞ÎèôÌï¥ÏÑú Îç∞Ïù¥ÌÑ∞Î•º ÏùΩÍ≥† Ï†ÄÏû•ÌïòÎäî ÏøºÎ¶¨ Ïã§ÌñâÏùÑ ÎèÑÏôÄÏ£ºÎäî ÎùºÏù¥Î∏åÎü¨Î¶¨

# ‚úèÔ∏è Import Libraries

In [ ]:
import pymysql

# ‚úèÔ∏è Methods and Examples

## üîé DB Ïó∞Í≤∞

In [ ]:
db = pymysql.connect(
    user='root', 
    port = 3306,
    password='12341234', 
    host='127.0.0.1', 
    charset='utf8'
)

## üîé ÏÉàÎ°úÏö¥ DB ÏÉùÏÑ± Î∞è ÏÇ¨Ïö© ÏÑ§Ï†ï

In [ ]:
cursor = db.cursor()

In [ ]:
sql_create = 'CREATE DATABASE practice2'
sql_use = 'USE practice2'

In [ ]:
cursor.execute(sql_create)
cursor.execute(sql_use)

0

In [ ]:
# ÌÖåÏù¥Î∏î ÏÉùÏÑ±
sql=open("DBP-e14-MySQL-VRG-Create-Tables.sql").read()

In [ ]:
sql.split(';')

["/********************************************************************************/\n/*\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t        */\n/*\tKroenke and Auer - Database Processing (14th Edition) Chapter 10C         \t*/\n/*\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t        */\n/*\tThe View Ridge Gallery (VRG) - Create Tables\t\t\t\t\t\t\t    */\n/*\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t        */\n/*\tThese are the MySQL 5.6 SQL code solutions                              \t*/\n/*\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t        */\n/********************************************************************************/\n\n\nCREATE TABLE ARTIST (\n\tArtistID \t\t     Int \t\t\t\tNOT NULL,\n\tLastName\t\t     Char(25)\t\t\tNOT NULL,\n\tFirstName\t\t     Char(25)\t\t\tNOT NULL,\n\tNationality      \t Char(30)\t\t\tNULL,\n\tDateOfBirth      \t Numeric(4,0)\t\t\tNULL,\n\tDateDeceased     \t Numeric(4,0)\t\t\tNULL,\n\tCONSTRAINT \tArtistPK\t\t\t\t  PRIMARY KEY(ArtistID),\n\tCONSTRAINT \tArtistAK1\t\t\t\t  UNIQUE(LastName, FirstName),\n\tCONSTRAINT \tNationalityValues CHECK\n\t\t\t\t\t(Nationality IN ('Canadian', 'English', 'French',\n\t\t\t\t\t 'German', 'Mexican', 'Russian', 'Spanish',\n\t\t\t\t\t 'United States')),\n\tCONSTRAINT \tBirthValuesCheck  CHECK (DateOfBirth < DateDeceased),\n\tCONSTRAINT \tValidBirthYear \t  CHECK\n\t\t\t\t\t(DateOfBirth REGEXP '[1-2][0-9][0-9][0-9]'),\n\tCONSTRAINT \tValidDeathYear \t  CHECK\n\t\t\t\t\t(DateDeceased REGEXP '[1-2][0-9][0-9][0-9]')\n\t)",
 "\n\nCREATE TABLE WORK (\n\tWorkID \t\t\t     Int \t\t\t\tNOT NULL,\n\tTitle \t\t\t\t Char(35) \t\t \tNOT NULL,\n\tCopy \t\t\t\t Char(12)\t\t\tNOT NULL,\n\tMedium \t\t\t     Char(35) \t\t \tNULL,\n\tDescription\t\t\t Varchar(1000) \t\tNULL DEFAULT 'Unknown provenance',\n\tArtistID \t\t\t Int \t\t\t\tNOT NULL,\n\tCONSTRAINT \tWorkPK\t\t\t\t\t PRIMARY KEY(WorkID),\n\tCONSTRAINT \tWorkAK1\t\t\t\t     UNIQUE(Title, Copy),\n\tCONSTRAINT \tArtistFK\t\t\t\t FOREIGN KEY(ArtistID)\n      \t\t\t\t\t\t REFERENCES ARTIST(ArtistID)\n \t\t\t\t\t\t\t        ON UPDATE NO ACTION\n\t\t\t\t\t\t\t        ON DELETE NO ACTION\n\t)",
 '\n\nCREATE TABLE CUSTOMER (\n\tCustomerID \t\t\t Int \t\t\t\tNOT NULL,\n\tLastName \t\t\t Char(25) \t\t \tNOT NULL,\n\tFirstName \t\t\t Char(25) \t\t\tNOT NULL,\n    EmailAddress\t\t Varchar(100)  \t\tNULL,\n    EncryptedPassword\t Varchar(50)\t\tNULL,\t\n\tStreet \t\t\t     Char(30) \t\t \tNULL,\n\tCity \t\t\t\t Char(35)\t \t\tNULL,\n\tState \t\t\t     Char(2) \t\t\tNULL,\n\tZIPorPostalCode\t\t Char(9)\t\t\tNULL,\n\tCountry\t\t\t     Char(50)\t\t\tNULL,\n\tAreaCode \t\t\t Char(3)\t\t\tNULL,\n\tPhoneNumber \t\t Char(8) \t\t\tNULL,\n\tCONSTRAINT \tCustomerPK\t\t\t   \tPRIMARY KEY(CustomerID),\n\tCONSTRAINT \tEmailAddressAK1\t\t\tUNIQUE(EmailAddress)\n\t)',
 '\n\nCREATE TABLE TRANS (\n\tTransactionID\t\t Int \t\t\t\tNOT NULL,\n\tDateAcquired \t\t Date\t\t\t\tNOT NULL,\n\tAcquisitionPrice \t Numeric(8,2)\t \tNOT NULL,\n    AskingPrice\t\t\t Numeric(8,2)\t \tNULL,\n\tDateSold\t\t\t Date\t\t\t\tNULL,\n\tSalesPrice \t\t\t Numeric(8,2)\t \tNULL,\n\tCustomerID\t\t\t Int \t\t\t\tNULL,\n\tWorkID\t\t\t\t Int \t\t\t\tNOT NULL,\n\tCONSTRAINT \tTransPK\t\t\t\t    PRIMARY KEY(TransactionID),\n\tCONSTRAINT \tTransWorkFK\t\t\t   \tFOREIGN KEY(WorkID)\n\t\t\t\t\t\t       REFERENCES WORK(WorkID)\n \t\t\t\t\t\t\t        ON UPDATE NO ACTION\n\t\t\t\t\t\t\t\t\tON DELETE NO ACTION,\n\tCONSTRAINT \tTransCustomerFK \t \tFOREIGN KEY(CustomerID)\n\t\t\t\t\t\t       REFERENCES CUSTOMER(CustomerID)\n \t\t\t\t\t\t\t        ON UPDATE NO ACTION\n\t\t\t\t\t\t\t        ON DELETE NO ACTION,\n\tCONSTRAINT \tSalesPriceRange \t \tCHECK\n\t\t\t\t\t         ((SalesPrice > 0) AND (SalesPrice <=500000)),\n\tCONSTRAINT\tValidTransDate \t\t \tCHECK (DateAcquired <= DateSold)\n\t)',
 '\n\nCREATE TABLE CUSTOMER_ARTIST_INT(\n\tArtistID \t\t\t Int \t\t\t\tNOT NULL,\n\tCustomerID \t\t\t Int \t\t\t\tNOT NULL,\n\tCONSTRAINT \tCAIntPK\t\t\t\t    PRIMARY KEY(ArtistID, CustomerID),\n\tCONSTRAINT \tCAInt_ArtistFK\t\t \tFOREIGN KEY(ArtistID)\n\t\t\t\t\t\t       REFERENCES ARTIST(ArtistID)\n\t\t\t\t\t\t\t\t\tON UPDATE NO ACTION\n\t\t\t\t\t\t\t        ON DELETE CASCADE,\n\tCONSTRAINT \tCAInt_CustomerFK   \t\tFOREIGN KEY(CustomerID)\n\t\t\t\t\t\t       REFERENCES CUSTOMER(CustomerID)\n\t\t\t\t\t\t\t        ON UPDATE NO ACTION\n\t\t\t\t\t\t\t        ON DELETE CASCADE\n\t)',
 '\n']

In [ ]:
for statement in sql.split(';'):
    if len(statement) > 5:
        cursor.execute(statement + ';')

In [ ]:
db.commit() # Îç∞Ïù¥ÌÑ∞ ÌôïÏ†ï
db.close() # cursor ÌïòÎÇòÏóêÎäî db.close() ÌïòÎÇò!!!

## üîé ÎùºÏù¥Î∏åÎü¨Î¶¨ Ïã§Ïäµ

In [ ]:
db = pymysql.connect(
    user='root', 
    port = 3306,
    password='12341234', 
    host='127.0.0.1', 
    charset='utf8',
    database = 'practice'
)

In [ ]:
cursor = db.cursor()

In [ ]:
# Îç∞Ïù¥ÌÑ∞ ÏÉùÏÑ±
sql=open("DBP-e14-MySQL-VRG-Insert-Data.sql").read()

In [ ]:
for statement in sql.split(';'):
    if len(statement) > 5:
        cursor.execute(statement + ';')

In [ ]:
sql = "select * from artist"
cursor.execute(sql)

9

In [ ]:
# Î™®Îì† Îç∞Ïù¥ÌÑ∞Î•º ÌïúÎ≤àÏóê ÌÅ¥ÎùºÏù¥Ïñ∏Ìä∏Î°ú Í∞ÄÏ†∏Ïò§Í∏∞
cursor.fetchall()

((1, 'Miro', 'Joan', 'Spanish', Decimal('1893'), Decimal('1983')),
 (2, 'Kandinsky', 'Wassily', 'Russian', Decimal('1866'), Decimal('1944')),
 (3, 'Klee', 'Paul', 'German', Decimal('1879'), Decimal('1940')),
 (4, 'Matisse', 'Henri', 'French', Decimal('1869'), Decimal('1954')),
 (5, 'Chagall', 'Marc', 'French', Decimal('1887'), Decimal('1985')),
 (11,
  'Sargent',
  'John Singer',
  'United States',
  Decimal('1856'),
  Decimal('1925')),
 (17, 'Tobey', 'Mark', 'United States', Decimal('1890'), Decimal('1976')),
 (18, 'Horiuchi', 'Paul', 'United States', Decimal('1906'), Decimal('1999')),
 (19, 'Graves', 'Morris', 'United States', Decimal('1920'), Decimal('2001')))

In [ ]:
cursor.execute(sql)

9

In [ ]:
#  ÌïúÎ≤àÏóê ÌïòÎÇòÏùò rowÎßå Í∞ÄÏ†∏Ïò§Í∏∞
cursor.fetchone()

(1, 'Miro', 'Joan', 'Spanish', Decimal('1893'), Decimal('1983'))

In [ ]:
# nÍ∞ú ÎßåÌÅºÏùò Îç∞Ïù¥ÌÑ∞ Í∞ÄÏ†∏Ïò§Í∏∞
cursor.fetchmany(3)

((2, 'Kandinsky', 'Wassily', 'Russian', Decimal('1866'), Decimal('1944')),
 (3, 'Klee', 'Paul', 'German', Decimal('1879'), Decimal('1940')),
 (4, 'Matisse', 'Henri', 'French', Decimal('1869'), Decimal('1954')))

In [ ]:
#Data Insert
insert = """INSERT INTO ARTIST 
	(ArtistID, LastName, FirstName, Nationality, DateOfBirth, DateDeceased)
	VALUES(
	59, 'Kim', 'John', 'Spanish', 1893, 1983);"""

In [ ]:
cursor.execute(insert)
db.commit()

In [ ]:
sql = "select * from artist"
cursor.execute(sql)
cursor.fetchall()

((1, 'Miro', 'Joan', 'Spanish', Decimal('1893'), Decimal('1983')),
 (2, 'Kandinsky', 'Wassily', 'Russian', Decimal('1866'), Decimal('1944')),
 (3, 'Klee', 'Paul', 'German', Decimal('1879'), Decimal('1940')),
 (4, 'Matisse', 'Henri', 'French', Decimal('1869'), Decimal('1954')),
 (5, 'Chagall', 'Marc', 'French', Decimal('1887'), Decimal('1985')),
 (11,
  'Sargent',
  'John Singer',
  'United States',
  Decimal('1856'),
  Decimal('1925')),
 (17, 'Tobey', 'Mark', 'United States', Decimal('1890'), Decimal('1976')),
 (18, 'Horiuchi', 'Paul', 'United States', Decimal('1906'), Decimal('1999')),
 (19, 'Graves', 'Morris', 'United States', Decimal('1920'), Decimal('2001')),
 (59, 'Kim', 'John', 'Spanish', Decimal('1893'), Decimal('1983')))

In [ ]:
#Data Update
update = """UPDATE ARTIST SET Nationality = 'French' WHERE ArtistId = 59"""

In [ ]:
cursor.execute(update)
db.commit()

In [ ]:
sql = "select * from artist"
cursor.execute(sql)
cursor.fetchall()

((1, 'Miro', 'Joan', 'Spanish', Decimal('1893'), Decimal('1983')),
 (2, 'Kandinsky', 'Wassily', 'Russian', Decimal('1866'), Decimal('1944')),
 (3, 'Klee', 'Paul', 'German', Decimal('1879'), Decimal('1940')),
 (4, 'Matisse', 'Henri', 'French', Decimal('1869'), Decimal('1954')),
 (5, 'Chagall', 'Marc', 'French', Decimal('1887'), Decimal('1985')),
 (11,
  'Sargent',
  'John Singer',
  'United States',
  Decimal('1856'),
  Decimal('1925')),
 (17, 'Tobey', 'Mark', 'United States', Decimal('1890'), Decimal('1976')),
 (18, 'Horiuchi', 'Paul', 'United States', Decimal('1906'), Decimal('1999')),
 (19, 'Graves', 'Morris', 'United States', Decimal('1920'), Decimal('2001')),
 (59, 'Kim', 'John', 'French', Decimal('1893'), Decimal('1983')))

In [ ]:
#Data Delete
delete = """DELETE FROM ARTIST WHERE ArtistId=59"""

In [ ]:
cursor.execute(delete)
db.commit()

In [ ]:
sql = "select * from artist"
cursor.execute(sql)
cursor.fetchall()

((1, 'Miro', 'Joan', 'Spanish', Decimal('1893'), Decimal('1983')),
 (2, 'Kandinsky', 'Wassily', 'Russian', Decimal('1866'), Decimal('1944')),
 (3, 'Klee', 'Paul', 'German', Decimal('1879'), Decimal('1940')),
 (4, 'Matisse', 'Henri', 'French', Decimal('1869'), Decimal('1954')),
 (5, 'Chagall', 'Marc', 'French', Decimal('1887'), Decimal('1985')),
 (11,
  'Sargent',
  'John Singer',
  'United States',
  Decimal('1856'),
  Decimal('1925')),
 (17, 'Tobey', 'Mark', 'United States', Decimal('1890'), Decimal('1976')),
 (18, 'Horiuchi', 'Paul', 'United States', Decimal('1906'), Decimal('1999')),
 (19, 'Graves', 'Morris', 'United States', Decimal('1920'), Decimal('2001')))

In [ ]:
# Í≤∞Í≥ºÎ•º Dictionary ÌòïÌÉúÎ°ú Î∞õÍ≥†Ïã∂ÏùÄ Í≤ΩÏö∞
curs = db.cursor(pymysql.cursors.DictCursor)

In [ ]:
sql = "select * from artist"
curs.execute(sql)
data = curs.fetchall()

In [ ]:
for row in data:
    print(row)
    print(row['ArtistID'], row['LastName'], row['FirstName'])

{'ArtistID': 1, 'LastName': 'Miro', 'FirstName': 'Joan', 'Nationality': 'Spanish', 'DateOfBirth': Decimal('1893'), 'DateDeceased': Decimal('1983')}
1 Miro Joan
{'ArtistID': 2, 'LastName': 'Kandinsky', 'FirstName': 'Wassily', 'Nationality': 'Russian', 'DateOfBirth': Decimal('1866'), 'DateDeceased': Decimal('1944')}
2 Kandinsky Wassily
{'ArtistID': 3, 'LastName': 'Klee', 'FirstName': 'Paul', 'Nationality': 'German', 'DateOfBirth': Decimal('1879'), 'DateDeceased': Decimal('1940')}
3 Klee Paul
{'ArtistID': 4, 'LastName': 'Matisse', 'FirstName': 'Henri', 'Nationality': 'French', 'DateOfBirth': Decimal('1869'), 'DateDeceased': Decimal('1954')}
4 Matisse Henri
{'ArtistID': 5, 'LastName': 'Chagall', 'FirstName': 'Marc', 'Nationality': 'French', 'DateOfBirth': Decimal('1887'), 'DateDeceased': Decimal('1985')}
5 Chagall Marc
{'ArtistID': 11, 'LastName': 'Sargent', 'FirstName': 'John Singer', 'Nationality': 'United States', 'DateOfBirth': Decimal('1856'), 'DateDeceased': Decimal('1925')}
11 Sargent John Singer
{'ArtistID': 17, 'LastName': 'Tobey', 'FirstName': 'Mark', 'Nationality': 'United States', 'DateOfBirth': Decimal('1890'), 'DateDeceased': Decimal('1976')}
17 Tobey Mark
{'ArtistID': 18, 'LastName': 'Horiuchi', 'FirstName': 'Paul', 'Nationality': 'United States', 'DateOfBirth': Decimal('1906'), 'DateDeceased': Decimal('1999')}
18 Horiuchi Paul
{'ArtistID': 19, 'LastName': 'Graves', 'FirstName': 'Morris', 'Nationality': 'United States', 'DateOfBirth': Decimal('1920'), 'DateDeceased': Decimal('2001')}
19 Graves Morris

In [ ]:
# Parameter Placeholder 
sql_placeholder = "select * from artist where ArtistID=%s and LastName=%s"

In [ ]:
curs.execute(sql_placeholder, (1, 'Miro'))
curs.fetchall()

[{'ArtistID': 1,
  'LastName': 'Miro',
  'FirstName': 'Joan',
  'Nationality': 'Spanish',
  'DateOfBirth': Decimal('1893'),
  'DateDeceased': Decimal('1983')}]